@use 'partials/_variables'

*
    padding: 0px
    margin: 0px
    box-sizing: border-box 
    font-family: Arial, Helvetica, sans-serif

body
    background-color: variables.$First-color 
    width: 100vw 
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%) 


    header   
        width: 80%     
        background-image: url('../images/undraw_To_do_list_re_9nt7.png')
        background-size: cover
        background-position: center center  
        background-repeat: no-repeat 
        margin: auto 
        box-shadow: 11px 5px 4px 0px #0000001f

        h1
            background-color: variables.$Third-color   
            text-align: center 
            opacity: 75%


    main  
        height: 300px 
        //background-color: variables.$Second-color
        background-color: variables.$Second-coloru
        margin: auto
        width: 80%
        border: 1px solid variables.$Sixth-color
        //box-shadow: 0px 0px 5px 1px variables.$Sixth-color 
        box-shadow: 11px 5px 4px 0px #0000001f

        .options-container
            display: flex
            justify-content: center
            gap: 20px 
            margin-top: 55px 

            hr 
                position: absolute
                top: -40px    

            button
                position: relative 
                width: 22%          
                cursor: pointer
                font-size: 1em
                border: 1px solid #3838381c 
                border-top-left-radius: 7px
                border-top-right-radius: 7px
                box-shadow: 0px 0px 2px 0px variables.$Seventh-color    
                background-color: variables.$Fith-color
                color: variables.$Second-color   
                top: -42px
                padding: 1px
    

            button:hover    
                background-color: variables.$Forth-color   
                color: variables.$First-color 
                transition: color 0.5s
                transition: background-color 0.5s 

        .time
            position: relative
            right: 15px 
            top: 195px 
            text-align: end  
            color: variables.$Fith-color         

        .results      
            div  
                border: 1px solid #3838381c
                background-color: variables.$First-color     
                border-radius: 10px  
                text-align: center 
                width: 50% 
                margin: auto

                p   
                    padding: 10px  
                    font-size: 1.2em 

/* JS classes */
.modal
    display: block 
    position: fixed  
    width: 75%       
    z-index: 1000
    left: 50% 
    top: 50% 
    transform: translate(-50%, -50%)  
    background-color: white
    padding: 20px
    border: 1px solid #ccc 
    border-radius: 15px 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) 

.modal-content
    position: relative

.close 
    position: relative 
    top: 15px 
    left: 90%     
    cursor: pointer   
    padding: 3px 
    border-radius: 8px
    background-color: variables.$Sixth-color
    border: 1px solid rgba(0, 0, 0, 0.267)
    color: variables.$Third-color

.close:hover 
    color: variables.$Forth-color
    background-color: variables.$Seventh-color
    transition: background-color 0.5s
    transition: color 0.5s

.overlay 
    display: block
    position: absolute
    top: 0px
    width: 80%
    height: 100%
    background-color: rgba(184, 43, 43, 0.288) 
    z-index: 999
    margin: auto