@use '../mobilefirst'
@use '_variables'
    
@media screen and (min-width: 650px)
    body 
        background-color: white 
        max-width: 50% 
        margin: auto 

        main
            margin-top: -100px  