@use '_variables'
    
/* Tablet */
@media screen and (min-width: 630px) 
    header, main
        max-width: 60%   

    .modal 
        max-width: 40% 
 
    .overlay 
        max-width: 60%  
 
/* Another devices */ 
@media screen and (min-width: 1000px) 
    header, main 
        max-width: 35%    
 
    .modal 
        max-width: 25%  

    .overlay 
        max-width: 35% 