@use '_variables'
/* JS classes */
.modal
    display: block 
    position: fixed  
    width: 75%       
    z-index: 1000
    left: 50% 
    top: 50% 
    transform: translate(-50%, -50%)  
    background-color: white
    padding: 20px
    border: 1px solid #ccc 
    border-radius: 15px 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) 

    .TextInput  
        position: relative
        padding: 7px       
        width: 100%    
        border: 1px solid variables.$Second-color  
        border-radius: 8px

    .TextInput:hover
        border: 1px solid variables.$Third-color
        transition: border 0.4s

    .TextInput:focus
        outline: 0px
        outline-color: blue 

    .modal-content
        display: flex
        flex-direction: column

    .close             
        flex: 1
        position: relative
        cursor: pointer  
        padding: 4px 
        border-radius: 8px
        background-color: variables.$Sixth-color
        border: 1px solid rgba(0, 0, 0, 0.267)
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.267)
        color: variables.$Fith-color
        align-self: flex-end
        top: 15px
        left: 15px

    .close:hover  
        color: variables.$Forth-color
        background-color: variables.$Seventh-color
        transition: background-color 0.5s
        transition: color 0.5s

.overlay 
    display: block
    position: absolute
    top: 0px
    width: 80%
    height: 100%
    background-color: rgba(184, 43, 43, 0.288) 
    z-index: 999
    margin: auto