@use '_variables'
@use '_mixins' 
/* JS classes */

/* Add Btn */
.modal
    @include mixins.Modal  
        
    .modal-content
        display: flex
        flex-direction: row 
        height: 100%
        justify-content: center
        align-content: center 
        margin: 15px 
        gap: 5px   

        .TextInput  
            position: relative
            padding: 8px       
            width: 10rem     
            border: 1px solid variables.$Second-color  
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.171)  
            border-radius: 8px

        .TextInput:hover
            border: 1px solid variables.$Third-color
            transition: border 0.4s
 
        .TextInput:focus
            outline: 0px
            outline-color: blue
 
        .SubmitInput
            position: relative
            padding: 5px
            border-radius: 8px 
            cursor: pointer 
            border: 1px solid rgba(0, 0, 0, 0.158) 
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.171)
            background-color: variables.$Sixth-color      
             

        .close 
            @include mixins.Close 

        .close:hover  
            color: variables.$Forth-color
            background-color: variables.$Seventh-color
            transition: background-color 0.5s
            transition: color 0.5s

.overlay 
    @include mixins.Overlay 