/* Orginal Colors */
    
$Primary-color: #9326E0
$Secondary-color: #E0268F
$Thirdary-color: #D026E0
$Forth-color: #5626E0
$Fith-color: #2633E0
$Sixth-color: #ffffff
$Seventh-color: #000000a8 


/* Light Colors */

$Primary-color-light: #9226e06e
$Secondary-color-light: #e0268f6e
$Thirdary-color-light: #D026E0
$Forth-color-light: #5526e052
$Fith-color-light: #2632e065
$Sixth-color-light: #ffffff98
$Seventh-color-light: #000000a8 
